<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">Logo</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">Главная</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Преимущества</a>
          </li>
          <li class="nav-item"><a href="#" class="nav-link">Цены</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Контакты</a></li>
        </ul>
        <form class="d-flex" action="" method="GET">
          <input
            class="form-control me-3 pe-0"
            type="search"
            placeholder="Поиск чая"
            aria-label="Поиск чая"
          />
          <button class="btn btn-outline-primary pt-0 pb-0 pe-4 ps-4 me-2">
            Найти
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>
<section>
  <div class="container">
    <div class="my-4 pt-5">
      <div class="card border-0">
        <img
          class="card-img"
          src="assets/hero-slider/image1.png"
          alt="Два пакетика чая"
        />
        <div class="card-img-overlay m-lg-5 pt-lg-5">
          <h2
            class="card-title fw-bold ms-4 ms-sm-5 my-xl-5 my-1 pt-xl-5 display-5 col-sm-8 col-xl-6"
          >
            Скидки на травяные чаи
          </h2>
          <p class="card-text mt-xl-5 ms-4 ms-sm-5 pt-lg-3 fs-5">
            Узнай все подробности, заполнив заявку
          </p>
          <a
            href="#create-order-form"
            class="btn btn-primary px-5 hvr-shadow-radial ms-4 ms-sm-5 my-3 my-lg-5"
            >Заполнить</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2 class="text-center my-5 pt-4 py-1 fw-bold">Наши чайные коллекции</h2>
    <div
      class="row row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-4"
    >
      <div class="col">
        <div class="card h-100">
          <a class="product__image" href="assets/products/product1.png">
            <img
              class="card-img-top"
              src="assets/products/product1.png"
              alt="Два пакетика чая"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title fw-bold ms-1 mb-3">Детокс чай лайм</h5>
            <p class="card-text ms-1">
              Великолепный чай внесет в вашу жизнь яркие краски и вкус
              расслабления
            </p>
          </div>
          <div class="card-footer border-0 bg-white">
            <a href="#" class="btn btn-primary px-5 hvr-shadow-radial"
              >Подробнее</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a class="product__image" href="assets/products/product2.png">
            <img
              class="card-img-top"
              src="assets/products/product2.png"
              alt="Два пакетика чая"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title fw-bold ms-1 mb-3">Ягодный чай</h5>
            <p class="card-text ms-1">
              Нотки ягод позволят вам расслабиться и насладиться великолепием
              этого чая
            </p>
          </div>
          <div class="card-footer border-0 bg-white">
            <a href="#" class="btn btn-primary px-5 hvr-shadow-radial"
              >Подробнее</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a class="product__image" href="assets/products/product3.png">
            <img
              class="card-img-top"
              src="assets/products/product3.png"
              alt="Два пакетика чая"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title fw-bold ms-1 mb-3">Цветочный чай</h5>
            <p class="card-text ms-1">
              Душистые цветы создают невероятный аромат и наполняют вас энергией
            </p>
          </div>
          <div class="card-footer border-0 bg-white">
            <a href="#" class="btn btn-primary px-5 hvr-shadow-radial"
              >Подробнее</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a class="product__image" href="assets/products/product4.png">
            <img
              class="card-img-top"
              src="assets/products/product4.png"
              alt="Два пакетика чая"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title fw-bold ms-1 mb-3">Очищающий чай</h5>
            <p class="card-text ms-1">
              Бесподобный чай для получения утреннего заряда бодрости
            </p>
          </div>
          <div class="card-footer border-0 bg-white">
            <a href="#" class="btn btn-primary px-5 hvr-shadow-radial"
              >Подробнее</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a class="product__image" href="assets/products/product5.png">
            <img
              class="card-img-top"
              src="assets/products/product5.png"
              alt="Два пакетика чая"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title fw-bold ms-1 mb-3">Кислый чай</h5>
            <p class="card-text ms-1">
              Кислый чай для настоящих ценителей кислинки во время чаепития
            </p>
          </div>
          <div class="card-footer border-0 bg-white">
            <a href="#" class="btn btn-primary px-5 hvr-shadow-radial"
              >Подробнее</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <a class="product__image" href="assets/products/product6.png">
            <img
              class="card-img-top"
              src="assets/products/product6.png"
              alt="Два пакетика чая"
            />
          </a>
          <div class="card-body">
            <h5 class="card-title fw-bold ms-1 mb-3">Лимонная мята</h5>
            <p class="card-text ms-1">
              Смесь лимона с мятой сделает ваш день самым лучшим
            </p>
          </div>
          <div class="card-footer border-0 bg-white">
            <a href="#" class="btn btn-primary px-5 hvr-shadow-radial"
              >Подробнее</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container col-lg-6 col-md-8 col-sm-12">
    <h2 class="text-center my-5 pt-4 fw-bold">
      Ответы на часто задаваемые вопросы
    </h2>
    <div class="mx-4" id="accordion">
      <h6
        class="bg-primary rounded-3 py-4 ps-4 text-white fw-bold mt-1 d-flex align-items-center justify-content-between"
      >
        Собираете ли вы подарочные боксы?
      </h6>
      <div class="border-0 mb-1 ps-4 pb-0">
        <p class="mb-0">
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой
          вкус, объем и стоимость!
        </p>
      </div>

      <h6
        class="bg-primary rounded-3 py-4 ps-4 text-white fw-bold mt-3 d-flex align-items-center justify-content-between"
      >
        Сколько у вас разновидностей чая?
      </h6>
      <div class="border-0 mb-1 ps-4 pb-0">
        <p class="mb-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
          asperiores.
        </p>
      </div>

      <h6
        class="bg-primary rounded-3 py-4 ps-4 text-white fw-bold mt-3 d-flex align-items-center justify-content-between"
      >
        В какой срок осуществляется доставка?
      </h6>
      <div class="border-0 mb-1 ps-4 pb-0">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
          asperiores.
        </p>
      </div>

      <h6
        class="bg-primary rounded-3 py-4 ps-4 text-white fw-bold mt-3 d-flex align-items-center justify-content-between"
      >
        У вас обновляется ассортимент?
      </h6>
      <div class="border-0 mb-1 ps-4 pb-0">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
          asperiores.
        </p>
      </div>

      <h6
        class="bg-primary rounded-3 py-4 ps-4 text-white fw-bold mt-3 d-flex align-items-center justify-content-between"
      >
        Какого объема у вас пачки чая?
      </h6>
      <div class="border-0 mb-1 ps-4 pb-0">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
          asperiores.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container col-lg-4 col-md-6 col-sm-8">
    <h2 class="text-center fw-bold my-5 pt-4 pb-2">Сделать заказ</h2>
    <form
      id="create-order-form"
      action="https://webhook.site/da4ec8c5-b2cd-4f8e-ab3c-26ce30070356"
      method="POST"
    >
      <div class="row mb-3 g-3">
        <div class="col col-md-4 col-12">
          <label class="form-label" for="first-name">Имя</label>
          <input
            class="form-control"
            type="text"
            id="first-name"
            name="first-name"
          />
        </div>
        <div class="col col-md-4 col-12">
          <label class="form-label" for="last-name">Фамилия</label>
          <input
            class="form-control"
            type="text"
            id="last-name"
            name="last-name"
          />
        </div>
        <div class="col col-md-4 col-12">
          <label class="form-label" for="phone">Телефон</label>
          <input class="form-control" type="tel" id="phone" name="phone" />
        </div>
        <div class="col col-md-6 col-12">
          <label class="form-label" for="country">Страна</label>
          <input class="form-control" type="text" id="country" name="country" />
        </div>
        <div class="col col-md-6 col-12">
          <label class="form-label" for="postal-code">Индекс</label>
          <input
            class="form-control"
            type="text"
            id="postal-code"
            name="postal-code"
          />
        </div>
        <div class="col col-xs-12">
          <label class="form-label" for="address">Адрес</label>
          <input class="form-control" type="text" id="address" name="address" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary px-5 hvr-shadow-radial"
            id="create-order"
          >
            Отправить
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
<footer class="bg-light mt-5">
  <p class="ps-3 py-3 m-0">Все права защищены</p>
</footer>
