<header-component></header-component>
<router-outlet></router-outlet>
<!--

<section>
  <div class="container col-lg-4 col-md-6 col-sm-8">
    <h2 class="text-center fw-bold my-5 pt-4 pb-2">Сделать заказ</h2>
    <form
      id="create-order-form"
      action="https://webhook.site/da4ec8c5-b2cd-4f8e-ab3c-26ce30070356"
      method="POST"
    >
      <div class="row mb-3 g-3">
        <div class="col col-md-4 col-12">
          <label class="form-label" for="first-name">Имя</label>
          <input
            class="form-control"
            type="text"
            id="first-name"
            name="first-name"
          />
        </div>
        <div class="col col-md-4 col-12">
          <label class="form-label" for="last-name">Фамилия</label>
          <input
            class="form-control"
            type="text"
            id="last-name"
            name="last-name"
          />
        </div>
        <div class="col col-md-4 col-12">
          <label class="form-label" for="phone">Телефон</label>
          <input class="form-control" type="tel" id="phone" name="phone" />
        </div>
        <div class="col col-md-6 col-12">
          <label class="form-label" for="country">Страна</label>
          <input class="form-control" type="text" id="country" name="country" />
        </div>
        <div class="col col-md-6 col-12">
          <label class="form-label" for="postal-code">Индекс</label>
          <input
            class="form-control"
            type="text"
            id="postal-code"
            name="postal-code"
          />
        </div>
        <div class="col col-xs-12">
          <label class="form-label" for="address">Адрес</label>
          <input class="form-control" type="text" id="address" name="address" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary px-5 hvr-shadow-radial"
            id="create-order"
          >
            Отправить
          </button>
        </div>
      </div>
    </form>
  </div>
</section> -->
<footer-component></footer-component>
