<div class="card h-100">
  <a class="product__image" href="{{ product.image }}">
    <img
      class="card-img-top"
      src="{{ product.image }}"
      alt="Чай"
    />
  </a>
  <div class="card-body">
    <h5 class="card-title fw-bold ms-1 mb-3">{{ product.title }}</h5>
    <p class="card-text ms-1">{{ product.description | restrictTextLength }}</p>
  </div>
  <div class="card-footer border-0 bg-white">
    <a href="#" class="btn btn-primary px-5 hvr-shadow-radial" [routerLink]="['/products', product.id]">Подробнее</a>
  </div>
</div>
